#!/usr/bin/env python

PACKAGE = 'social_state_machine'
import roslib

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
gen.add("int_param", int_t, 0, "An Integer parameter", 50, 0, 100)

exit(gen.generate(PACKAGE, "social_state_machine", "SocialStateMachine"))
